@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

/*---------------------------------
---------GENERAL LAYOUT------------
-----------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  color: #f7f2ff;
}
body{
  font-family: 'Spectral SC', serif !important;
  /*background: url('/resources/overlay.png'),linear-gradient(to bottom, #1f244f 20%,#323275 60%) !important;
  background-size: cover;*/
  /*background: url("resources/overlay.png"), linear-gradient(45deg, #352e5b 20%, #352e5b 60%, #352e5b);*/
  background: url("resources/overlay.png"), #1b1e3e;
}
.grid{
  padding:0 1.5em;
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: repeat(2,300px);
  grid-gap: 10px;
  margin: 0 auto;
}
/*END OF GENERAL LAYOUT*/

/*-------------------------------
------REUSABLE CLASSES HERE------
---------------------------------*/
.team-name{
  margin: 0 1.5em;
  grid-gap:10px;
  padding: 5px 0;
  display:grid;
  grid-template-columns: repeat(3,33%);
}
.team-logo{
  width: 100%;
  padding: 0;
  margin:0 0 -5px 0;
  grid-column:3/3;
  background: linear-gradient(45deg,rgb(122,80,255),rgb(241,63,5));
}
.pad-10{
  padding: 10px;
}
.margin-10{
  margin: 10px;
}
.alt-time{}
.pressure-time{}
.temperature-time{}
.plot-area{
    padding:0 !important;
    /*border-radius: 3px;*/
    /*border: 1px solid #2c3040;*/
    /*border-top: 7px solid #257ec6;*/
    /*background: rgba(39, 39, 96,0.6);*/
    overflow: hidden;
  }
.plot-label{
  position: relative;
  top:0; left:0;
  margin:0;
  padding:3px 20px;
  width: 100%;
  color: white;
  /*background: #151b33;*/
  background: linear-gradient(to right,#151b33,#1a1d3d);
}
.control-area{
  padding:20px;
  /*border-radius: 3px;*/
  /*border: 1px solid #2c3040;*/
  /*border-top: 7px solid #257ec6;*/
  background: rgba(15, 16, 21,0.68);
}
.control-area > .control-btn-block{
  margin: 2em 0;
}
/* END OF REUSABLE CLASSES*/

/*-------------------------------------
-----------------GRAPHS----------------
---------------------------------------*/
.graph{
  display:block;
  width: 100%;
  height: 95%;
  margin: 0; padding:0;
}

/*-------------------------------------
---------------BUTTONS-----------------
-------------------------------------*/
.btn{
  /*
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;
  border: 1px solid rgba(0,0,0,0.4);
  background: #f9fcff;
  font-weight: 700;
  color: #000;
  margin-right: 10px;
  box-shadow:0 0 5px 5px #232323;*/

  /*Similar to stackoverflow button*/
  padding: 10px 20px;
  background: #112aa0;
  color: white;
  font-size: 13px;
  text-align: center;
  border: none;
  cursor: pointer;

}
.btn:disabled, button[disabled]{
  background:#999 !important;
}
.btn:hover{
  background: #07c;
}
.btn:focus{
  border: none;
}
.btn:active{
  border: none;
}
.start-btn{
  /*background: #f9fcff !important;*/
}
.start-btn:hover{
  color: white;
}
.stop-btn{
  /*border:2px  solid #e81919 !important;*/
  box-shadow: inset 5px 0 0 0 #e81919 !important;
  border: 0 !important;
  color: #e81919; //Easier to see
}

.dropdown-menu{
  width: 100px;
  height: 30px;
  margin-right: 20px;
}
/*END OF BUTTONS*/

#status-box{
  padding:5px;
  background: none;
  color: #2eba5d; //make it looks like linux terminal
  font: 'Lucida Console',courier;
  font-style: none;
  width: 100%;
  height: 150px;
  display: block;
  resize: none;
  border: none;
}

/*-------------------------------------
-------------PROGRESS BARs--------------
---------------------------------------*/
.other-wrapper{
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-auto-rows: minmax(auto,30px);
}
.other-label{
  grid-column: 1/1;
  color:#fff;
  margin:auto 0;
  text-align: left;
  font-family: tahoma;
  overflow: hidden;
}
.other-val{
  grid-column:2/2;
  color: #fff;
  margin:auto 0;
  text-align: left;
  font-family: tahoma;
}
.other-block{
  grid-column: 3/6;
  width: 100%;
  height: 20px;
  margin:10px 10px 10px 0; padding: 0;
  background: #ddd;
  overflow: hidden;
  display: inline-block;
}
.other-block > .bar{
  /*width:80%;*/
  height: 20px;
  margin: 0;
  position: relative;
  left:0;
  background: #0077cc;; /*#8d44fc;*/
  transition: all ease 1s; /*smooth transition*/
}
