@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

/*GENERAL LAYOUT*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: 'Spectral SC', serif !important;
  /*background: url('/resources/overlay.png'),linear-gradient(to bottom, #1f244f 20%,#323275 60%) !important;
  background-size: cover;*/
  background: url("resources/overlay.png"), linear-gradient(45deg, #352e5b 20%, #352e5b 60%, #352e5b);
}
.grid{
  padding:0 1.5em;
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: repeat(2,300px);
  grid-gap: 10px;
  margin: 0 auto;
}
/*END OF GENERAL LAYOUT*/

/*REUSABLE CLASSES HERE*/
.team-name{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin: 0 !important;
  padding: 5px 0;
  color: white;
  font-family: "tahoma",courier;
}
.pad-10{
  padding: 10px;
}
.margin-10{
  margin: 10px;
}
.alt-time{}
.pressure-time{}
.temperature-time{}
.plot-area{
    padding:0 !important;
    /*border-radius: 3px;*/
    border: 1px solid #2c3040;
    /*border-top: 7px solid #257ec6;*/
    background: rgba(39, 39, 96,0.6);
  }
.plot-label{
  position: relative;
  top:0; left:0;
  margin:0;
  padding:3px 20px;
  width: 100%;
  color: white;
  background: #151b33;
}
.control-area{
  padding:10px;
  /*border-radius: 3px;*/
  border: 1px solid #2c3040;
  /*border-top: 7px solid #257ec6;*/
  background: rgba(39, 39, 96,0.6);
}
.control-area > .control-btn-block{
  margin: 2em 0;
}
/* END OF REUSABLE CLASSES*/

/*BUTTONS*/
.btn{
  position: relative;
  overflow: hidden;
  border-radius: 0 !important;
  border: 1px solid rgba(0,0,0,0.4);
  background: #3498db;
  background: #f9fcff;
  font-weight: bold;
  color: #f47442;
  /*box-shadow:0 0 5px 5px #232323;*/
}
.btn:before{
  content:"";
  position: absolute;
  top:0; right:0;
  border-top: 20px solid red;
  width: 0;
}
.start-btn{
  background: #f9fcff !important;
}
.start-btn:hover{
  color: white;
}
.stop-btn{
  background: linear-gradient(45deg,#e81919,#e51662) !important;
  color: #2fbfe0; //Easier to see
}
/*END OF BUTTONS*/

#status-box{
  padding:5px;
  background: #0e0f13;
  color: #2eba5d; //make it looks like linux terminal
  font: 'Lucida Console',courier;
  font-style: none;
  width: 100%;
  height: 100px;
  display: block;
  resize: none;
}
